.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: var(--secondary);
  text-decoration: none;
  text-align: center;
  color: var(--white);
  border-radius: 8px;
}
.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.box-item {
  padding: 0 12px;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 18px;
  color: var(--black);
  &:hover {
    color: var(--text-color);
    background-color: #fafafa;
  }
}
.account {
  color: var(--black);
  &:hover {
    color: var(--text-color);
    background-color: #fafafa;
  }
}
.box-link {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  padding: 8px 0;
  &:hover {
    color: var(--text-color);
  }
}
.btn-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
