.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status {
  color: #e4a166;
  font-size: 25px;
  margin-bottom: 20px;
}
.title {
  color: var(--text-color);
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.box-main {
  margin-top: 50px;
  max-height: 550px;
  overflow-y: overlay;
}
.box-product {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  padding: 0 12px;
}
.box-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-info-product {
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin-bottom: 8px;
}
.img-product {
  width: 100px;
  height: 90px;
}
.name-product {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}
.quantity-product {
  font-size: 16px;
  color: violet;
}
.price-product {
  font-size: 16px;
  color: orange;
}
.info-product {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  span {
    margin-top: 6px;
  }
}
.total-price {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: line-through;
}
.final-total-price {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 700;
  color: var(--text-color);
}
.id-item {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}
//reviews
.review-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
}
.info-user {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  span {
    font-size: 18px;
    margin: 0 12px;
    color: blue;
    font-weight: 600;
  }
}
.info-review {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.type-review {
  font-size: 16px;
  color: var(--secondary);
  margin: 2px 0;
}
.reason-cancel {
  width: 300px;
  color: red;
  font-size: 18px;
  font-family: var(--font-primary);
}
.show-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
