.info-item {
  display: flex;
  align-items: center;
  // justify-content: center;
}
.id-product {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
.img-item {
  width: 90px;
  height: 80px;
}
.name-item {
  font-size: 18px;
  color: var(--text-color);
  margin-left: 12px;
}
.form-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.title {
  font-size: 25px;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}
.input-value {
  width: 300px;
  margin-bottom: 12px;
}
.des-delete-inventory {
  font-size: 20px;
  font-family: var(--font-primary);
}
.id-item {
  color: red;
  font-size: 22px;
  font-weight: 600;
}
.btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
